:root {
  --azure: #004dff;
  --dark-azure: #003dcc;
  --aqua: #19dbd1;
  --dark-aqua: #14b8af;
  --navy: #1b2069;
  --dark-navy: #111441;
  --violet: #a200ff;
  --dark-violet: #8100cc;
  --orange: #f66a1d;
  --dark-orange: #d75109;
  --emerald: #50c878;
}
