.banner {
  height: 600px;
  overflow: hidden;
}

.banner .container {
  z-index: 1;
}

.banner img {
  top: 0;
  object-fit: cover;
}

.banner p {
  font-size: 1.25rem;
  max-width: 55ch;
}

.banner a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 30px;
}

.dark-overlay {
  background-color: var(--dark-overlay);
}

.light-overlay {
  background-color: var(--light-overlay);
}

.aqua-overlay {
  background-color: var(--aqua-overlay);
}

.azure-overlay {
  background-color: var(--azure-overlay);
}

.navy-overlay {
  background-color: var(--navy-overlay);
}

.violet-overlay {
  background-color: var(--violet-overlay);
}

.azure-btn {
  background-color: var(--azure);
}

.azure-btn:hover {
  background-color: var(--dark-azure);
}

.aqua-btn {
  background-color: var(--aqua);
}

.aqua-btn:hover {
  background-color: var(--dark-azure);
}

.navy-btn {
  background-color: var(--navy);
}

.navy-btn:hover {
  background-color: var(--dark-navy);
}

.violet-btn {
  background-color: var(--violet);
}

.violet-btn:hover {
  background-color: var(--dark-violet);
}

.orange-btn {
  background-color: var(--orange);
}

.orange-btn:hover {
  background-color: var(--dark-orange);
}
