// Esconde o botão "Voltar" do Asset Publisher que exibe a Notícia completa
.portlet-body .default-asset-publisher > div:first-child {
  display: none !important;
}

.noticia-header {
  height: 250px;
  overflow: hidden;

  .container {
    z-index: 1;
  }

  img {
    object-fit: cover;
  }

  p {
    font-size: 1.25rem;
    max-width: 55ch;
  }

  a {
    text-decoration: none;
    border-radius: 30px;
  }
}

.noticia-content {
  margin: 0 auto;
  padding: 3rem 0 3rem;
  max-width: 820px;

  h1 {
    font-size: 2rem;
    line-height: 1.1;
  }
}

@media (min-width: 576px) {
  .noticia-content h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .noticia-content h1 {
    font-size: 3rem;
  }
}
